<div class="row">
  <%- include('./delay') -%>
  <div class="col-xl-6 col-sm-12 mb-3">
    <div class="card text-secondary p-0 bg-white o-hidden h-100 shadow rounded">
      <div class="card-header">
        <div class="mr-5">Route Performance - <%= bus.route_performance %></div>
      </div>
      <div class="card-body">
        <div  id="route_piechart" style="height: 320px"></div>
      </div>
    </div>
  </div>
</div>
