<%- include('header') -%>
<%- include('navbar') -%>
<div id="wrapper">
  <%- include('sidebar') -%>
  <div id="content-wrapper">
     <div class="container-fluid">
       <div class="row ">
         <div class="col-1"></div>
         <div class="jumbotron col-10  bg-light">
           <h1 class="display-4">What About Page?</h1>
           <hr class="my-4">
           <p class="lead">... </p>
         </div>
         <div class="col-1"></div>
      </div>

     </div>
  </div>
</div>
<%- include('footer', {js_name: 'overview.js'}) -%>
