<%- include('header') -%>
<%- include('navbar') -%>
<div id="wrapper">
  <%- include('sidebar') -%>
  <div id="content-wrapper">
     <div class="container-fluid">
       <div class="row ">
         <div class="col-1"></div>
         <div class="jumbotron col-10  bg-light">
           <h1 class="display-4">Route Analysis</h1>
           <hr class="my-4">
           <p class="lead">xxxxxxxxxxxxxx</p>
         </div>
         <div class="col-1"></div>
      </div>
       <!-- search bar -->
       <div class="row" id="search-bar">
         <div class="col-12">
           <form class="form-inline md-form mr-auto mb-4">
              <div class="col-2"></div>
               <input id="search-bar-input" class="form-control  mr-2 col-6" type="text" placeholder="Enter a bus route ..." aria-label="Search">
               <button id="search-bar-button"  class="btn btn-rounded btn-primary my-0">Search</button>
           </form>
       </div>
      </div>
     </div>
  </div>
</div>
<%- include('footer', {js_name: 'route.js'}) -%>
