@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navbar.scss";
@import "cards.scss";
@import "login.scss";
@import "footer.scss";

$card_horizontal_margin: 2em;
$card_vertical_margin: 1em;

// card in row will have margin collapse vertically
.card {
  margin-top: $card_vertical_margin;
  margin-left: $card_horizontal_margin;
  margin-right: $card_horizontal_margin;
}



.jumbotron {
  margin:0;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a2cbeb;
  border-radius: 5px;
}
