@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navbar.scss";
@import "cards.scss";
@import "login.scss";
@import "footer.scss";

$card_horizontal_margin: 2em;
$card_vertical_margin: 1em;

// card in row will have margin collapse vertically
.card {
  margin-top: $card_vertical_margin;
  margin-left: $card_horizontal_margin;
  margin-right: $card_horizontal_margin;
}

.jumbotron {
  margin:0;
}

#mapInfo {
	background-color: #F8F9FA;
	height: 500px;
}

#map {
	float: right;
	height: 96%;
  	width: 56%;
  	margin: 1% 1% 1% 0;
}

#stops {
	float: left;
	overflow-y: scroll;
	height: 96%;
  	width: 42%;
  	margin: 1% 0 1% 0;
}

#routeDirectionButton {
	margin-left: 3%;
}

.stopName {
	height: 12%;
	background-color: #FFFFFF;
	font-size: 90%;
	padding: 4%;
	margin: 0 2% 3% 0;
	border-left: solid DeepSkyBlue;
	cursor: pointer;
}

.stopDelay {
	 display: none;
   background-color: #F9F9F9;
   height: 12%;
   font-size: 90%;
   padding: 4%;
	 margin: 2%;
   border-left: solid DeepSkyBlue;
   cursor: pointer;
}

.stopName:click + .stopDelay {
    display: block;
}
