<%- include('header') -%>
  <div id="root"></div>
  <div id="map"></div>
  <script src="/map.js" charset="utf-8"></script>
  <script src="/bundle.js" charset="utf-8"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALiK_gOS5NM9Fjt0UmqgOwxdaq0zlU720&callback=initMap">
  </script>
<%- include('footer') -%>
