<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -33.89840316772461, lng: 151.15887451171875};
  // The map, centered at Uluru
  var map = new google.maps.Map(  //google map object
      document.getElementById('map'),
      {zoom: 16, center: uluru},
    );
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({
    position: uluru,
    position: map.getCenter(),
    map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALiK_gOS5NM9Fjt0UmqgOwxdaq0zlU720&callback=initMap">
    </script>
  </body>
</html>
