<div class="row">
  <div class="col-xl-12 col-sm-12 my-3">
    <div class="card text-secondary bg-white o-hidden h-100 border-light shadow rounded">
      <div class="card-header">
        <div class="mr-5">Delay Spread for Three Different Periods</div>
      </div>
      <div class="card-body">
        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~XuyingWang/32.embed" height="525px" width="100%"></iframe>
        <!-- <div  id="overview_boxchart" style="height: 500px"></div> -->
      </div>
    </div>
  </div>
</div>
