<div class="row my-3">
  <div class="col-xl-12 col-sm-12 mb-3">
    <div class="card text-secondary bg-white o-hidden h-100 border-light shadow rounded">
      <div class="card-header ">
        <div class="mr-5">Delay Trend by Delay by Date </div>
      </div>
      <div class="card-body mr-5 ">
        <select class="custom-select mb-5" id='overview-trend-select'>
          <option selected>Choose a level ...</option>
          <option value="1">Stop Level</option>
          <option value="2">Trip Level</option>
          <option value="3">Route Level</option>
        </select>
        <div  id="trend-graph" style="min-height: 400px"></div>
      </div>
    </div>
  </div>
</div>
