<div class="row">
  <div class="col-xl-12 col-sm-12 mb-3">
    <div class="card text-secondary bg-light o-hidden h-100">
      <div class="card-header">
        <div class="mr-5">Box plot (SOME DROP DOWN SLECTOR)</div>
        <button id="box-button" class="btn btn-rounded btn-primary my-0">Stop Level</button>
      </div>
      <div class="card-body">
        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~XuyingWang/32.embed" height="525px" width="100%"></iframe>
        <!-- <div  id="overview_boxchart" style="height: 500px"></div> -->
      </div>
    </div>
  </div>
</div>
