<div class="row">
  <div class="col-xl-12 col-sm-12 mb-3">
    <div class="card text-secondary bg-light o-hidden h-100">
      <div class="card-header">
        <div class="mr-5">Distribution by delay by date (SOME DROP DOWN SLECTOR)</div>
        <button id="stop-dist-button"  class="btn btn-rounded btn-primary my-0">Stop_Level</button>
      </div>
      <div class="card-body">
        <div  id="overview_columnchart" style="height: 400px"></div>
      </div>
    </div>
  </div>
</div>
