<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/route">Routes</a>
  </li>
  <li class="breadcrumb-item active" id="route"><%= bus.route_short_name %></li>
</ol>
