<div class="row">
  <div class="col-xl-12 col-sm-12 mb-3">
    <div class="card text-secondary bg-white o-hidden h-100 border-light shadow rounded">
      <div class="card-body">
        <h2 class="col-12 my-2">Search</h2>
        <p class="col-12 pb-2"><em>Seach or select from a list of routes</em></p>
        <div class="row my-5" id="search-bar">
          <div class="col-12">
            <form class="form-inline md-form mr-auto mb-2">
               <div class="col-2"></div>
                <input id="search-bar-input" class="form-control  mr-2 col-6" type="text" placeholder="Enter a bus route ..." aria-label="Search">
                <button id="search-bar-button"  class="btn btn-rounded btn-primary my-0">Search</button>
            </form>
        </div>
       </div>
       <p class="col-12"><strong>Popular/Notorious routes</strong></p>
       <ul class="col-6 ml-5">
        <li>
         <a href="./getRoute?route_short_name=370">Route 370</a>
         <p> Late every time': Sydney's worst bus revealed ... according to The Sydney Morning Herald </p>
        </li>
        <li>
         <a href="./getRoute?route_short_name=X04">Route X04</a>
         <p>Most delayed from our analysis... X04 one-way EXPRESS Service</p>
        </li>
        <li>
         <a href="./getRoute?route_short_name=891">Route 891</a>
         <p> UNSW Express Bus ... "I'm late for classes/quizs/exams because the EXPRESS bus is late!"</p>
        </li>
        <li>
         <a href="./getRoute?route_short_name=400">Route 400</a>
         <p>Popular cheap alternative to T8 Airport line</p>
        </li>
        <li>
         <a href="./getRoute?route_short_name=725e">Route 725e</a>
         <p>Sydney Grammar School school bus (top private primary school)</p>
        </li>
        <li>
         <a href="./getRoute?route_short_name=699w">Route 699w</a>
         <p>Artarmon Public School school bus (top public primary school)</p>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
