<div class="row">
  <div class="col-xl-12 col-sm-12 mb-3">
    <div class="card text-secondary o-hidden h-100 border-light shadow rounded">
      <div class="card-body">
        <h2 class="col-12">Search</h2>
        <p class="col-12">Seach or select from a list popular/notorious routes</p>
        <div class="row" id="search-bar">
          <div class="col-12">
            <form class="form-inline md-form mr-auto mb-4">
               <div class="col-2"></div>
                <input id="search-bar-input" class="form-control  mr-2 col-6" type="text" placeholder="Enter a bus route ..." aria-label="Search">
                <button id="search-bar-button"  class="btn btn-rounded btn-primary my-0">Search</button>
            </form>
        </div>
       </div>
       <h4 class="col-12">Popular/Notorious routes</h4>
       <ul lass="col-12">
        <li>
         <a href="./getRoute?route_short_name=370">370</a>
        </li>
        <li>
         <a href="./getRoute?route_short_name=373">373</a>
        </li>
        <li>
         <a href="./getRoute?route_short_name=393">393</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
