<div class="col-xl-12 col-sm-12 mb-5">
  <div class="card text-secondary bg-white o-hidden h-100 rounded shadow">
    <div class="card-body">
      <div class="card-body-icon">
        <i class="fas fa-fw fa-bus"></i>
      </div>
      <div class="mr-5"><h2>Bus <%= bus.route_short_name %></h2></div>


    </div>
    <div class="card-footer text-secondary clearfix small z-1">
      <span class="float-left"><%= bus.route_long_name %></span>
      <span class="float-left"><%= bus.route_performance %></span>
    </div>
  </div>
</div>
