<!-- Route Delay Description -->
<div class="col-xl-3 col-sm-12 mb-3">
  <div class="card text-secondary bg-light o-hidden h-100">
    <div class="card-header">
      <div class="mr-5"><%= delay_title %></div>
    </div>
    <div class="card-body">
      <div class="card-body-icon">
        <i class="fas fa-fw fa-comments"></i>
      </div>
      <span class="float-left"><%= delay_percentage %></span>
    </div>
  </div>
</div>
