<%- include('header') -%>
<%- include('navbar') -%>
<div id="wrapper">
  <%- include('sidebar') -%>
  <div id="content-wrapper">
     <div class="container-fluid">
       <div>No result found .... Please try again.</div>

     </div>
  </div>
</div>
<%- include('footer', {js_name: 'overview.js'}) -%>
