<div class="row">
  <div class="col-xl-12 col-sm-12 mb-3">
    <div class="card text-secondary o-hidden h-100 border-light shadow rounded">
      <div class="card-body">
        <div class="jumbotron bg-white ml-1 px-3 py-4">
          <h1 class="display-4 text-dark"><%- section_head_info.title %></h1>
          <hr class="my-4 bg-white">
          <p class="lead"><%- section_head_info.description %></p>
        </div>

      </div>
    </div>
  </div>
</div>
